.main-footer {
  color: white;
  background-color: #43474d;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  clear: both;
}
.navlink {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-weight: bold;
}
.navlink:hover {
  color: #fff;
  border-bottom: 1px solid #feb70e;
}
